{% extends 'layout.html' %} {% block content %}

<!-- banner -->
<div class="ds-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
        <figure>
          <!-- load cloudinary image -->
          <img
            src="{{ hero.image.url }}"
            style="width: 100%; border-radius: 10px"
          />
        </figure>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
        <section>
          <h1>
            <span>{{hero.small_title | safe}}</span>
            {{hero.big_title | safe}}
          </h1>
          <!-- <ul class="ds-numbervalulist">
            <li>
              <strong>6+</strong>
              <span>Experience</span>
            </li>
            <li>
              <strong>89</strong>
              <span>Projects</span>
            </li>
            <li>
              <strong>52</strong>
              <span>Happy Clients</span>
            </li>
          </ul> -->
        </section>
      </div>
    </div>
  </div>
</div>
<!-- banner -->

<!-- about -->
<div class="ds-about-section">
  <div class="container">
    <section>
      <h2 class="ds-heading">About Me</h2>
      <p>{{hero.about_me | safe}}</p>
      <div class="ds-button-sec text-center">
        <a href="{{hero.resume_url}}" target="_blank" class="ds-button"
          >See My Resume</a
        >
      </div>
    </section>
  </div>
</div>
<!-- about -->

<!--  Skills -->
<div class="ds-skills-section">
  <div class="container">
    <div class="row">
      {% for skill in skills %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 class="ds-heading">{{skill.name|safe}}</h2>
        <ul class="ds-skills-list">
          {% for skill_item in skill.skill_items %}
          <li>{{skill_item.name|safe}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--  Skills -->

<!-- Experience -->
<div class="ds-experience-section">
  <div class="container">
    <h2 class="ds-heading">Work Experience</h2>
    <div class="row ds-experience-list">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <section>
          <span class="ds-year">2019 - Present</span>
          <h3 class="ds-officename">Matrix Media Inc</h3>
          <span class="ds-department">Full Stack developer</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis
            sem maximus, ornare metus ut, congue enim. Sed fermentum.
          </p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis
              sem maximus, ornare metus ut.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
        </section>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <section>
          <span class="ds-year">2018 - 2019</span>
          <h3 class="ds-officename">Lexind</h3>
          <span class="ds-department">Senior app developer</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis
            sem maximus, ornare metus ut, congue enim. Sed fermentum.
          </p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis
              sem maximus, ornare metus ut.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis
              sem maximus, ornare metus ut.
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- Experience -->

<!--  Work -->
<div class="ds-work-section">
  <div class="container">
    <h2 class="ds-heading">Latest works</h2>
    <div class="ds-work-list-section">
      <div class="ds-work-list">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
              <h3 class="ds-work-tilte">Tripy mobile app</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                quis sem maximus, ornare metus ut, congue enim. Sed fermentum
                nulla tellus, quis efficitur mauris tristique efficitur. Aliquam
                rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci
                non sodales.
              </p>
              <a href="works-setails.html" class="ds-button">Details</a>
            </section>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure><img src="static/images/work-1.jpg" /></figure>
          </div>
        </div>
      </div>
      <div class="ds-work-list">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
              <h3 class="ds-work-tilte">Hello mobile app</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                quis sem maximus, ornare metus ut, congue enim. Sed fermentum
                nulla tellus, quis efficitur mauris tristique efficitur. Aliquam
                rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci
                non sodales.
              </p>
              <a href="works-setails.html" class="ds-button">Details</a>
            </section>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure><img src="static/images/work-2.jpg" /></figure>
          </div>
        </div>
      </div>
      <div class="ds-work-list">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
              <h3 class="ds-work-tilte">Cute cookies app</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                quis sem maximus, ornare metus ut, congue enim. Sed fermentum
                nulla tellus, quis efficitur mauris tristique efficitur. Aliquam
                rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci
                non sodales.
              </p>
              <a href="works-setails.html" class="ds-button">Details</a>
            </section>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure><img src="static/images/work-3.jpg" /></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Work -->
{% endblock %}
