{% extends 'layout.html' %} {% block content %}

<!-- banner -->
<div class="ds-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
        <figure>
          <!-- load cloudinary image -->
          <img
            src="{{ hero.image.url }}"
            style="width: 100%; border-radius: 10px"
          />
        </figure>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
        <section>
          <h1>
            <span>{{hero.small_title | safe}}</span>
            {{hero.big_title | safe}}
          </h1>
          <!-- <ul class="ds-numbervalulist">
            <li>
              <strong>6+</strong>
              <span>Experience</span>
            </li>
            <li>
              <strong>89</strong>
              <span>Projects</span>
            </li>
            <li>
              <strong>52</strong>
              <span>Happy Clients</span>
            </li>
          </ul> -->
        </section>
      </div>
    </div>
  </div>
</div>
<!-- banner -->

<!-- about -->
<div class="ds-about-section">
  <div class="container">
    <section>
      <h2 class="ds-heading">About Me</h2>
      <p>{{hero.about_me | safe}}</p>
      <div class="ds-button-sec text-center">
        <a href="{{hero.resume_url}}" target="_blank" class="ds-button"
          >See My Resume</a
        >
      </div>
    </section>
  </div>
</div>
<!-- about -->

<!--  Skills -->
<div class="ds-skills-section">
  <div class="container">
    <div class="row">
      {% for skill in skills %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 class="ds-heading">{{skill.name|safe}}</h2>
        <ul class="ds-skills-list">
          {% for skill_item in skill.skill_items %}
          <li>{{skill_item.name|safe}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--  Skills -->

<!-- Experience -->
<div class="ds-experience-section">
  {% for experience in experiences %}
  <div class="container">
    <h2 class="ds-heading">{{experience.name | safe}}</h2>
    <div class="row ds-experience-list">
      {% for experience_item in experience.experience_items %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <section>
          <span class="ds-year"
            >{{ experience_item.start_date | safe }} -
            <span style="display: inline">
              {{ experience_item.end_date | safe }}</span
            >
          </span>
          <h3 class="ds-officename">{{ experience_item.title | safe }}</h3>
          <span class="ds-department">
            {{ experience_item.subtitle | safe }}
          </span>
          <p>{{ experience_item.description | safe }}</p>
        </section>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
<!-- Experience -->

<!--  Work -->
<div class="ds-work-section">
  <div class="container">
    <h2 class="ds-heading">Latest works</h2>
    <div class="ds-work-list-section">
      {% for project in personal_projects %}

      <div class="ds-work-list">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
              <h3 class="ds-work-tilte">{{project.title |safe }}</h3>
              <p>{{project.small_description |safe}}</p>
              <a href="/projects/{{ project.slug  }}" class="ds-button"
                >Details</a
              >
            </section>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure><img src="{{ project.thumbnail.url }}" /></figure>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--  Work -->
{% endblock %}
