<figure>
  <img src="" />
</figure>
<div class="ds-work-content-sec">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
      <p>
        Phasellus non faucibus purus, a venenatis diam. In faucibus orci mauris,
        porttitor egestas diam elementum non. Vestibulum non metus tempus,
        sagittis libero sed, euismod purus. Cras dolor nulla, hendrerit vitae
        libero eu, finibus ultricies dolor. Vestibulum non metus tempus,
        sagittis libero sed, euismod purus. Cras dolor nulla, hendrerit vitae
        libero eu, finibus ultricies dolor.
      </p>

      <h2>Sub Title for project</h2>

      <ul>
        <li>
          Phasellus non faucibus purus, a venenatis diam. In faucibus orci
          mauris, porttitor egestas diam elementum non.
        </li>
        <li>
          Vestibulum non metus tempus, sagittis libero sed, euismod purus.
        </li>
      </ul>
    </div>
  </div>
</div>
