{% extends 'layout.html' %} {% block content %}

<main class="ds-main-section">
  <div class="container">
    <div class="ds-work-details-section">
      <div class="text-center">
        <a href="/" class="ds-button ds-arrow-button"
          ><i class="ri-arrow-left-s-line"></i> BAck</a
        >
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
          <header class="ds-work-det-hed">
            <h1 class="ds-work-det-title">{{project.name|safe}}</h1>
            <span class="ds-work-det-dep">{{project.title|safe}}</span>
          </header>
          {{project.description|safe}}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
